@page "/alquileer/selectcochesparaalquiler" //url donde se muestra esta pagina

@using AppForSEII2526.Web.API
@using Microsoft.AspNetCore.Authorization
@inject AppForSEII2526APIClient apiclient //Cliente que llama al backend para obtener coches.
@inject AlquilerStateContainer alquilerState //Contenedor del estado del alquiler (carrito).
@inject NavigationManager navigation //Permite navegar entre páginas.
@inject ILogger<SelectCochesParaAlquiler> logger //Registra errores en el log.

    
<h3>Seleccione los coches para el alquiler</h3>

<div class="container-fluid">

    <div class="row alert alert-danger" role="alert" hidden="@hideErrors">
        <p id="ErrorsShown">Errors: @errors</p>
    </div>

    <div class="row">

        <div class="col-8">

            <div class="row">

                @* FILTRO DE BÚSQUEDA POR MODELO *@
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Modelo</span>
                        <input type="text" id="nombremodelo" @bind="nombremodelo"
                               class="form-control" placeholder="Modelo" aria-label="Modelo"
                               aria-describedby="basic-addon1">
                    </div>
                </div>

                @* FILTRO POR PRECIO ALQUILER *@
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Precio Alquiler</span>
                        <input type="text" id="precioalquiler" @bind="precioalquiler"
                               class="form-control" placeholder="Precio Alquiler"
                               aria-label="Precio Alquiler" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Inicio Alquiler</span>
                        <InputDate @bind-Value="Inicio" id="inicio" />
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Fin Alquiler</span>
                        <InputDate @bind-Value="Fin" id="fin" />
                    </div>
                </div>

                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Fecha Alquiler</span>
                        <InputDate @bind-Value="FechaAlquiler" id="FechaAlquiler" />
                    </div>
                </div>

                <div class="col">
                    <button type="button"
                            class="btn btn-primary"
                            @onclick="BuscarCoches"
                            id="buscarCoches">
                        Buscar Coches
                    </button>
                </div>

            </div> @* cierre row filtros *@


            <div class="row">
                @if (coches == null)
                {
                    <p>Cargando coches....</p>
                }
                else
                {
                    <div class="mh-100 table-responsive">
                        <table class="table table-condensed table-hover" id="TablaDeCoches">
                            <thead>
                                <tr>
                                    <th>Modelo</th>
                                    <th>Color</th>
                                    <th>Precio Alquiler</th>
                                    <th>Fabricante</th>
                                    <th>Tipo Combustible</th>
                                    <th>Añadir</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var coche in coches)
                                {
                                    <tr id="CocheData_@coche.Modelo">
                                        <td>@coche.Modelo</td>
                                        <td>@coche.Color</td>
                                        <td>@coche.PrecioAlquiler €</td>
                                        <td>@coche.Fabricante</td>
                                        <td>@coche.TipoCombustible</td>
                                        <td>
                                            <button class="btn btn-outline-secondary"
                                                    @onclick="@(() => AñadirCoche(coche))">
                                                Añadir Coche
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div> @* cierre row tabla *@

        </div> @* cierre col-8 *@



        @* CARRITO DE ALQUILER *@
        <div class="col-2" hidden="@ocultarCarroAlquiler">

            <div class="row">
                <h3>Carrito Alquiler</h3>
            </div>

            @foreach (AlquilerItemDTO item in alquiler.AlquilerItems)
            {
                <div class="row">
                    <button type="button"
                            class="btn btn-light"
                            @onclick="@(() => RemoveRentalItem(item))">
                        x @item.Modelo - @item.PrecioAlquiler €
                    </button>
                </div>
            }

            <div class="row">
                <button type="button"
                        class="btn btn-primary"
                        @onclick="AlquilarCoches"
                        id="alquilarCocheButton">
                    Alquilar Coches
                </button>
            </div>

        </div> @* cierre col-2 *@


    </div> @* cierre row principal *@

</div> @* cierre container-fluid *@


    @code {

        private bool ocultarCarroAlquiler { get { return alquiler.AlquilerItems.Count == 0; } }
        private ICollection<CocheParaAlquilerDTO> coches; //lista de coches que vienen de la API.
        private bool hideErrors { get { return errors.Length == 0; } }
        private string errors = "";
        private string nombremodelo { get; set; } //filtro por modelo
        private float? precioalquiler { get; set; } //filtro por precio de alquiler


        private DateTime inicio;
        private DateTime Inicio {
            get { return inicio; }
            set {
                if (inicio != value) {
                    //the rentingcart is cleared to ensure that only movies available for the selected period are selected
                    inicio = value;
                    alquiler.InicioAlquiler  = DateTime.SpecifyKind(inicio, DateTimeKind.Utc);
                    alquilerState.VaciarCarro();

                }
            }
        }
        private DateTime fechaalquiler;
        private DateTime FechaAlquiler
        {
            get{ return fechaalquiler; }
            set
            {
                if(fechaalquiler != value)
                {
                    fechaalquiler = value;
                    alquiler.FinAlquiler = DateTime.SpecifyKind(fechaalquiler, DateTimeKind.Utc);
                    alquilerState.VaciarCarro();
                }
            }
        }

    private DateTime fin;
    private DateTime Fin {
        get { return fin; }
        set {
            if (fin != value) {
                //the rentingcart is cleared to ensure that only movies available for the selected period are selected
                fin = value;
                alquiler.FinAlquiler = DateTime.SpecifyKind(fin, DateTimeKind.Utc);
                alquilerState.VaciarCarro();

            }
        }
    }

    
    private AlquilerParaCrearDTO alquiler => alquilerState.Alquiler;

    private bool hiddenRentingCart = true;

    private void AñadirCoche(CocheParaAlquilerDTO coche) {
        alquilerState.AñadirCocheParaAlquiler(coche);
    }

    private void RemoveRentalItem(AlquilerItemDTO item) {
        alquilerState.BorrarCoche(item);
        if (alquiler.AlquilerItems.Count == 0) hiddenRentingCart = true;
    }

    public async void BuscarCoches() {

       

        if (alquiler.InicioAlquiler > alquiler.FinAlquiler) {
            errors = "la fecha de inicio no puede ser después de la final.";
            return;
        }

        if (alquiler.InicioAlquiler < DateTime.Today || alquiler.FinAlquiler < DateTime.Today) {
            errors = "el alquiler debe ser en el futuro.";
            return;
        }
        
        try {
            coches = await apiclient.GetCochesParaAlquilarAsync(nombremodelo, precioalquiler);
            errors = "";

        }
        catch (ApiException ex) {
            logger.LogError($"{DateTime.Now} Error: {ex}");
            errors = "Error while connecting to the system";
        }
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync() {

        //Si inicio está sin inicializar, se pone a mañana.
        //si fin está sin inicializar, se pone pasado mañana.

       
        inicio = (inicio == new DateTime(1, 1, 1)) ?
            DateTime.SpecifyKind(DateTime.Today.AddDays(1), DateTimeKind.Utc)
            : inicio;
        alquiler.InicioAlquiler = inicio;

       
        fin = (fin == new DateTime(1, 1, 1)) ?
            DateTime.SpecifyKind(DateTime.Today.AddDays(2), DateTimeKind.Utc)
            : fin;
        alquiler.FinAlquiler = fin;

        

        BuscarCoches();

       //return base.OnInitializedAsync();
    }

    private void AlquilarCoches() {
        //Cuando el usuario hace clic en Alquilar Coches:Se le navega a otra página (POST)
        navigation.NavigateTo("/alquileer/post");
    }

}



